---
import BaseLayout from "../layouts/BaseLayout.astro";
import ContactForm from "../components/sections/ContactForm.astro";
---

<BaseLayout 
  title="Contact | Web Design Perth"
  description="Get in touch for a fast, modern website."
  url="https://astro-tina-cms.vercel.app/contact"
>

  <div class="px-4 py-20">
    <h1 class="mb-6 text-3xl font-bold text-center">Contact Us</h1>
    <ContactForm />
  </div>

</BaseLayout>