---
const { title = "My Website", description = "Default description" } = Astro.props;
import "../styles/global.css";
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    
    <title>{title}</title>
    <meta name="description" content={description} />

    <!-- Open Graph -->
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
  </head>

  <body class="text-gray-800 bg-white">
    <slot />
  </body>
</html>