---
import BaseLayout from "../components/layout/BaseLayout.astro";
import BasicNav from "../components/daisy/BasicNav.astro";
---
<BaseLayout title="Contact">
  <BasicNav />
  <div class="max-w-4xl px-4 py-20 mx-auto">
    <h1 class="mb-4 text-3xl font-bold">Contact</h1>
    <p>Email us at info@yoursite.com</p>
  </div>
</BaseLayout>